nav{
    width: 100%;
    
    background-color: rgb(35, 35, 35);
    .h1{
        justify-self: center;
    text-align: center;
        width: 50%;
        padding-top: 100px;
        padding-bottom: 20px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
    }
}