*{
    font-family: 'Bahnschrift', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #000;
}
::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background-color: #444; 
  border-radius: 6px;
}
body{
  min-height: 100vh;
   background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/bg.png');
 background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
@media(max-width:765px){
  body{
    overflow-y: auto;
    overflow-x: hidden;
  }
}