.aside{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        max-width: 30%;
        border-radius: 20px;
    }
    h1{
        color: white;
        font-size: 50px;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
    }
}
.p{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 70%;
    justify-self: center;
    color: white;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
}
.h3{
    color: white;
    opacity: 0.8;
}
.button{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}
.button:hover{
    cursor: pointer;
    scale: 1.2;
}